body{
     background-image: url(download.png);
     background-repeat: no-repeat;
     
     

}

table,tr,td{
  width:50%;
  height:50%;
  border-collapse: collapse;
  font-size: 20px;
  font-family: cursive;
}
